    @font-face {
    font-family: "Arial";
    src: url("/assets/fonts/Arial-BoldMT.woff2") format("woff2"), url("/assets/fonts/Arial-BoldMT.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: "Arial";
    src: url("/assets/fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("/assets/fonts/Arial-BoldItalicMT.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: "Arial";
    src: url("/assets/fonts/ArialMT.woff2") format("woff2"), url("/assets/fonts/ArialMT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: "Arial";
    src: url("/assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("/assets/fonts/Arial-ItalicMT.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: "Georgia";
    src: url("/assets/fonts/Georgia.woff2") format("woff2"), url("/assets/fonts/Georgia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: "Georgia";
    src: url("/assets/fonts/Georgia-Bold.woff2") format("woff2"), url("/assets/fonts/Georgia-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }

h1 {
    margin: 0;
    padding: 0; }

:root {
    font-size: 10px; }

* {
    -o-box-sizing: border-box;
    box-sizing: border-box; }

.wrapper {
        background: -webkit-linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
        background: -moz-linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
        background: linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
        background-repeat: no-repeat;
        background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
	/*margin-bottom: 2.9rem;*/}
	
.section-header {
	position: fixed; 
	overflow: hidden;
	top: 0; 
    width: 100%;
	background: -webkit-linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
    background: -moz-linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
    background: linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208))	
	
}
.section-header .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
    /*margin-bottom: 2.9rem;*/
	}

.section-header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.section-header .logo__title {
    font-family: Georgia, serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: 0 0 10px 0; }

.section-header .logo__subtitle {
    font-family: Arial, sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-left: 4px; }

.section-header .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2px; }

.section-header .nav-wrapper .nav-link {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #1c0049;
    border-bottom: 3px solid transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    padding-bottom: 2px;
    cursor: pointer; }

.section-header .nav-wrapper .nav-link.active, .section-header .nav-wrapper .nav-link:active {
    border-bottom: 3px solid #1c0049; }
.section-header .nav-wrapper .nav-link.active, .section-header .nav-wrapper .nav-link:hover {
    color: #fafafa; }
.section-header .nav-wrapper .nav-link:not(:first-child) {
    margin-left: 33px; }
.section-slim_figure{
	margin-top: 12rem;
}
/* Кнопка выпадающего списка */
 .dropbtn {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #1c0049;
    background-color: none;
    margin-left: 33px;
    border: none;
    font-size: 0;
    padding-top: 20px;
  }
  .dropbtn:hover {
    font-size: 2rem;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #66CCCC;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 35px;
  }  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: #fff8f8;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #E2FCF6; color: #1c0049;}
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {color: #fff8f8;}    

  /*Иконки вместо текста меню*/
  .icon {
    font-size: 0    ;
    padding-top: 20px;
    }

    a:hover .icon {		
        font-size: 2rem;
    }
	.nav-list img {
		max-height: 30px;
		background:none;
	}
	
        /*END*/

@media (max-width: 1279px) {
    .section-header .container {
        padding: 30px 30px 60px; } }

@media (max-width: 767px) {
    .section-header .container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 31px 39px 60px 10px; }
    .section-header .nav-wrapper {
        margin: 0; }
    .section-header .hamburger-menu {
        width: 30px;
        height: 22px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .section-header .line {
        width: 100%;
        height: 2px;
        background-color: #f6f6f6;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .section-header .nav-list {
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 11%;
        left: 0; }
    .section-header .active .line-1 {
        -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
        -ms-transform: rotate(-405deg) translate(-8px, 6px);
        transform: rotateZ(-405deg) translate(-8px, 6px); }
    .section-header .active .line-2 {
        opacity: 0; }
    .section-header .active .line-3 {
        -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
        -ms-transform: rotate(405deg) translate(-8px, -6px);
        transform: rotateZ(405deg) translate(-8px, -6px); }
    .section-header .active .nav-list {
        opacity: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding: 0 10px;
        /*background-color: #5b483a;*/
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; } }

@media (max-width: 320px) {
    .section-header .container {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 31px 3px 60px 11px; }
   /* .section-header .logo {
        margin-right: 41px; } */
    }

.section-training {
    background: #e2fcf6; }
.section-training .container {
    flex-direction: column;
    align-items: center;
    padding: 80px 0 100px 0; }
.section-training__title {
    font-family: Georgia, serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #1c0049;
    max-width: 48.9rem;
    display: flex;
    text-align: center;
    margin-bottom: 2em;
	margin-top: 3.3em;	}
.section-training .training-slider {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 40px;
    column-gap: 40px;
    row-gap: 30px; }
.section-training .slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    border-radius: 9px;
    padding-bottom: 30px;
    transition: 0.2s; }
.section-training .slider-item__img {
    width: 270px;
    height: 270px; }
.section-training .slider-item__nickname {
    font-family: Georgia, serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 30px 0; }
.section-training .slider-item__btn {
    font-family: Georgia, serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 13px 43px;
    background-color: transparent;
    border: 2px solid #52b3b6;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    outline: none;
    cursor: pointer;
    transition: 0.2s; }
.section-training .slider-item__btn:hover {
    background: #63d9dd; 
    color: #f6f6f6;}
.section-training .slider-item:hover {
    background: #ffffff; }
.section-training .slider-buttons {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    margin-top: 60px; }
.section-training .slider-buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid #52b3b6;
    border-radius: 100px;
    background-color: transparent;
    transition: 0.2s;
    padding-bottom: 5px;
    cursor: pointer;
    outline: none; }
.section-training .slider-buttons .btn:nth-child(2n) {
    margin: 0 20px; }
.section-training .slider-buttons .btn:hover {
    background: #63d9dd; 
    color: #ffffff;}
.section-training .slider-buttons .btn.disable {
    color: #cdcdcd;
    border-color: #cdcdcd;
    background: none; }
.section-training .slider-buttons .page {
    cursor: none;
    background: #63d9dd; }
@media (max-width: 1279px) {
    .section-training .container {
        padding: 80px 0 75px 0; }
    .section-training__title {
        margin-bottom: 30px; }
    .section-training .training-slider {
        justify-content: center;
        row-gap: 30px; }
    .section-training .training-slider .slider-item:nth-child(7) {
        display: none; }
    .section-training .training-slider .slider-item:nth-child(8) {
        display: none; }
    .section-training .slider-buttons {
        margin-top: 40px; } }
@media (max-width: 767px) {
    .section-training .container {
        padding: 42px 0 42px 0; 
		margin-top: 12rem;}
    .section-training__title {
        font-family: Georgia, serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.06em;
        margin-bottom: 42px; }
    .section-training .training-slider {
        row-gap: 30px;
        margin-bottom: 3px; }
    .section-training .training-slider .slider-item:nth-child(2n) {
        display: none; }
    .section-training .slider-buttons .btn:nth-child(2n) {
        margin: 0 10px; } }
       /* margin: 0 0 40px 0; }*/
    .section-footer .info .contact-info__title {
        text-align: center; }
    .section-footer .info .contact-info .email-container {
        margin-left: 11px; }
    .section-footer .info .contact-info .telephone-container {
        margin-left: 11px; }
    .section-footer .info .location {
        margin: 0; }
    .section-footer .info .location__title {
        /*text-align: center; */}
    .section-footer__img {
        width: 260px;
        height: 269px; } 

.section-footer {
	background: -webkit-linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
    background: -moz-linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
    background: linear-gradient(270deg, rgb(82, 179, 182) 52%, rgb(154, 207, 195), rgb(237, 242, 208));
	}
.section-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0 0 0;
	justify-content: space-between;	}
.section-footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.section-footer .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 48px; }
.section-footer .contact-info__title {
    font-family: Georgia, serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: rgb(49 135 137); }
.section-footer .contact-info .email-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 43px 0;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
.section-footer .contact-info .email-container__icon {
    margin-right: 20px; }
.section-footer .contact-info .email-container__email {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454; }
.section-footer .contact-info .telephone-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
.section-footer .contact-info .telephone-container__icon {
    margin-right: 20px; }
.section-footer .contact-info .telephone-container__telephone {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454; }
.section-footer .container .info .location {
    max-width: 302px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 16rem 4.8rem 12.8rem; }
.section-footer .location__title {
    font-family: Georgia, serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: rgb(186 251 253); }
.section-footer .location .location-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 34px 0 32px 0;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
.section-footer .location .location-by__icon {
    margin-right: 20px; }
.section-footer .location .location-by__street {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #ffffff; }
.section-footer .location .location-europe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
.section-footer .location .location-europe__icon {
    margin-right: 20px; }
.section-footer .location .location-europe__street {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #ffffff; }
.section-footer__img {
    width: 300px;
    height: 310px; }
.section-footer .footer-hover:hover {
    opacity: 0.7; }
@media (max-width: 1279px) {
    .section-footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0; }
    .section-footer .info {
        max-width: 708px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 30px 0 65px; }
    .section-footer .info .contact-info {
        margin: 0 60px 0 34px; }
    .section-footer .info .contact-info .email-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .section-footer .info .location {
        min-width: 302px;
        margin: 0 33px 0 0; } }
@media (max-width: 767px) {
    .section-footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0; }
    .section-footer .info {
        max-width: 300px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 30px 0 92px 0; }
    .section-footer .info .contact-info {
        margin: 0 0 40px 0; }
    .section-footer .info .contact-info__title {
        text-align: center; }
    .section-footer .info .contact-info .email-container {
        margin-left: 11px; }
    .section-footer .info .contact-info .telephone-container {
        margin-left: 11px; }
    .section-footer .info .location {
        margin: 0; }
    .section-footer .info .location__title {
        text-align: center;}
    .section-footer__img {
        width: 260px;
        height: 269px; } }